* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #5D3FD3;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 70%;
    max-width: 300px;
    background-color: #FFFFFF;
    padding: 20px 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px #23194d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 22px;
}

input {
    width: 100%;
    border: 1px solid #CCC;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
}

button {
    width: 20%;
    background-color: #5D3FD3;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
}

#limpar-button {
    width: 100%;
    background-color: #5D3FD3;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
}
